.euiSuggestInput {
  font-size: $euiFontSizeS;
  color: $euiColorPrimary;

  .euiLoadingSpinner {
    margin-right: $euiSizeS;
  }

  .euiSuggestInput__statusIcon {
    padding-left: $euiSizeS;
    padding-right: $euiSizeS;
    display: flex;
    align-items: center;
    background-color: inherit;
  }

  .euiFormControlLayout div {
    display: flex;
    align-items: center;
  }
}
