// Change the hollow (bordered) buttons to have a transparent background
// and no border
@each $name, $color in $euiButtonIconTypes {
  .euiButtonIcon--#{$name}.euiButtonIcon--fill {
    @include euiButtonDefaultStyle($color);

    @if ($name == 'ghost') {
      // Ghost is unique and ALWAYS sits against a dark background.
      $backgroundColorSimulated: mix($euiColorInk, $color, 70%);
      color: makeHighContrastColor($color, $backgroundColorSimulated);
    } @else {
      &.euiButtonIcon--fill:focus {
        outline-color: lightOrDarkTheme($euiColorInk, $euiColorGhost);
      }
    }

    &.euiButtonIcon--fill:not([class*='isDisabled']) {
      color: chooseLightOrDarkText($color, $euiColorGhost, $euiColorInk);

      &,
      &:hover,
      &:focus {
        background-color: $color;
      }
    }
  }
}

// Fix ghost/disabled look specifically
.euiButtonIcon.euiButtonIcon-isDisabled.euiButtonIcon--ghost,
// adding fill type to override default theme
.euiButtonIcon.euiButtonIcon-isDisabled.euiButtonIcon--ghost.euiButtonIcon--fill {
  &,
  &:focus {
    color: $euiButtonColorGhostDisabled;
    background-color: transparentize($euiButtonColorGhostDisabled, .9);
  }
}
